@font-face {
    font-family: 'cottontail';
    src: url('./assets/fonts/Cottontail\ Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'prime';
    src: url('./assets/fonts/Season_Prime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    font-family: 'carmitta' ,Arial, sans-serif;
}

body {
    background-color: #FFF1DB;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.container {
    padding: 10px;
    background-color: #ffffff;
    margin: 20px auto 20px auto;
    border-radius: 15px;
    height: 520px; 
    display: flex;
    flex-direction: column;
}
.container h1 {
    color: #4d5360;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'prime', Arial, sans-serif; /* Aplicar la fuente personalizada */
}

.container h2 {
    color: #6b584b;
    font-size: 50px;
    font-weight: bold;
    font-family: 'prime', Arial, sans-serif; 
    margin-bottom: 10px;
}


.row-custom {
    margin-top: 5px; 
    
    padding: 5px; 


}

.btn-outline-primary {
    background-color: #5c9447;
    border: 2px solid #5c9447;
    color: #fff;
    padding: 5px 20px;
    font-size: 18px;
    font-family: 'cottontail', Arial, sans-serif;
    border-radius: 9px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.btn-outline-cancelar {
    background-color: #14a1ff;
    border: 2px solid #14a1ff;
    color: #FFF;
    padding: 5px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border-radius: 9px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.btn-outline-eliminar {
    background-color: #f04545;
    border: 2px solid #f04545;
    color: #FFF;
    padding: 5px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border-radius: 9px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.btn-outline-primary:hover {
    background-color: #7a96b5;
    color: #fff;
    border-color: #7a96b5;
}

.table-responsive {
    margin-top: 10px;
    flex-grow: 1; 
    overflow-y: auto; 
}

.table {
    width: 100%;
    margin-bottom: 10px;
    color: #333;
}

.table th, .table td {
    padding: 12px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    background-color: #556471;
    color: #fff;
    border-bottom: 2px solid #dee2e6;
    font-size: 19px;
    font-family: 'cottontail', Arial, sans-serif;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table .btn-outline-success {
    background-color: #80a6c5;
    border: 2px solid #637fa1;
    color: #313943;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'cottontail', Arial, sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.table .btn-outline-success:hover {
    background-color: #3b5889;
    border-color: #4c5976;
    color: #fff;
}

.table .fa-pencil {
    margin-left: 5px;
}

.form-control {
    height: 30px;
    font-size: 16px; 
    padding: 5px 10px; 
}

.form-label {
    font-size: 19px; 
    color: #333;
    font-family: 'cottontail', Arial, sans-serif; 

}

.form-group {
    margin-bottom: 15px;
}

.form-select {
    height: 40px; 
    font-size: 16px; 
}


form .btn-outline-primary {
    background-color: #d84545;
    border: 2px solid #d84545;
    color: #fff;
    font-size: 22px;
    font-family: 'cottontail', Arial, sans-serif;
    border-radius: 9px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 45px auto;
}
/*
form .btn-outline-primary:hover {
    background-color: #2d3f54;
    color: #fff;
    border-color: #7a96b5;
}
*/
.input-short {
    max-width: 150px; 
}

.input-medium {
    max-width: 350px; 
}

.input-long {
    max-width: 500px;
}

html,
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
